.sass-cache/
node_modules/
local/
.DS_Store
checkin\basketball-waivers18.xls
checkin\bedrace-waivers18.xls
checkin\delivery-waivers18.xls
checkin\dizzy-waivers18.xls
checkin\dodgeball-waivers18.xls
checkin\donut-waivers18.xls
checkin\general-waivers18.xls
checkin\joust-waivers18.xls
checkin\larp-waivers18.xls
checkin\lipsync-waivers18.xls
checkin\track-waivers18.xls
checkin\treds-waivers18.xls
checkin\trivia-waivers18.xls
checkin\tugowar-waivers18.xls
checkin\volleyball-waivers18.xls
db_backups/
